.inner__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 48px;
}

.inner__book {
  width: 100%;
}

.inner-book__title {
  color: #032b41;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 32px;
}

.inner-book__author {
  color: #032b41;
  margin-bottom: 16px;
  font-weight: 600;
}

.inner-book__sub--title {
  font-size: 20px;
  color: #032b41;
  margin-bottom: 16px;
  font-weight: 300;
}

.inner-book__wrapper {
  border-top: 1px solid #e1e7ea;
  border-bottom: 1px solid #e1e7ea;
  padding: 16px 0;
  margin-bottom: 24px;
}

.inner-book__description--wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
  row-gap: 12px;
}

.inner-book__description {
  display: flex;
  align-items: center;
  width: 50%;
  color: #032b41;
  font-weight: 500;
  font-size: 14px;
}

.inner-book__icon {
  display: flex;
  height: 24px;
  width: 24px;
  margin-right: 4px;
}

.inner-book__read--btn-wrapper {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
}

.inner-book__read--btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 144px;
  height: 48px;
  background-color: #032b41;
  color: #fff;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  gap: 8px;
}

.inner-book__bookmark {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #0365f2;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 40px;
  font-size: 18px;
}

.inner-book__bookmark--icon-svg {
  width: 20px;
  height: 20px;
}

.inner-book__secondary--title {
  font-size: 18px;
  color: #032b41;
  margin-bottom: 16px;
  font-weight: 600;
}

.inner-book__tags--wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 16px;
}

.inner-book__tag {
  background-color: #f1f6f4;
  padding: 0 16px;
  height: 48px;
  display: flex;
  align-items: center;
  cursor: not-allowed;
  color: #032b41;
  font-weight: 500;
  border-radius: 4px;
}

.inner-book__book--description {
  color: #032b41;
  margin-bottom: 16px;
  line-height: 1.5;
}

.inner-book__author--description {
  color: #032b41;
  line-height: 1.5;
}

.inner-book--img-wrapper {
  flex-shrink: 0;
  width: 300px;
  display: flex;
  align-items: flex-start;
}

.book__image--wrapper {
  height: 300px;
  width: 300px;
  min-width: 300px;
}

.book__image {
  width: 100%;
  height: 100%;
  display: block;
}

.skeleton__title {
  height: 39px;
  width: 100%;
  max-width: 304px;
  margin-bottom: 16px;
}

.skeleton__author {
  height: 20px;
  width: 100%;
  max-width: 304px;
  margin-bottom: 16px;
}

.skeleton__subtitle {
  height: 48px;
  width: 100%;
  max-width: 304px;
  margin-bottom: 16px;
}

.skeleton__short-line {
  height: 17px;
  width: 81px;
}

.skeleton__button {
  height: 48px;
  width: 144px;
}

.skeleton__bookmark {
  height: 22px;
  width: 100%;
  max-width: 304px;
  margin-bottom: 40px;
}

.skeleton__section-title {
  height: 22px;
  width: 100%;
  max-width: 304px;
  margin-bottom: 16px;
}

.skeleton__tag {
  height: 48px;
  width: 178px;
}

.skeleton__big-block-description {
  height: 480px;
  width: 100%;
  border-radius: 6px;
  margin-bottom: 16px;
}

.skeleton__big-block-author {
  height: 360px;
  width: 100%;
  border-radius: 6px;
  margin-bottom: 16px;
}

.skeleton__image {
  height: 172px;
  width: 172px;
  border-radius: 4px;
}

@media (max-width: 992px) {
  .inner__wrapper {
    flex-direction: column;
    gap: 32px;
  }

  .inner-book--img-wrapper {
    display: flex;
    justify-content: center;
  }

  .inner__book {
    order: 1;
  }
}

@media (max-width: 768px) {
  .inner-book__title {
    font-size: 24px;
  }

  .inner-book__author,
  .inner-book__author--description,
  .inner-book__book--description,
  .inner-book__tag {
    font-size: 14px;
  }

  .inner-book__sub--title {
    font-size: 18px;
  }

  .inner-book__bookmark {
    font-size: 16px;
  }
}
