@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  max-width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.section__title {
  font-size: 32px;
  color: #032b41;
  text-align: center;
  margin-bottom: 32px;
  font-weight: 700;
}

.section__title.page__title {
  text-align: left;
  border-bottom: 1px solid #e1e7ea;
  padding-bottom: 16px;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
}

button:active {
  transform: translateY(1px);
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.65;
}

.row {
  max-width: 1070px;
  width: 100%;
  margin: 0 auto;
  padding: 0 24px;
}

.container {
  padding: 40px 0;
  width: 100%;
}

.btn {
  background-color: #2bd97c;
  color: #032b41;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  font-size: 16px;
  transition: background-color 200ms;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 180px;
}

.btn:hover:not(:disabled) {
  background-color: #20ba68;
}

.btn:active {
  transform: translateY(1px);
}

.home__cta--btn {
  max-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 200px;
  width: calc(100% - 200px);
  transition: all 0.3s;
}

.wrapper__full {
  margin-left: 0;
  width: 100%;
}

.summary {
  position: relative;
  width: 100%;
  overflow-y: auto;
  height: calc(100vh - 160px);
}

.audio__book--summary {
  white-space: pre-line;
  padding: 24px;
  max-width: 800px;
  margin: 0 auto;
}

.audio__book--summary-title {
  color: #032b41;
  font-size: 24px;
  border-bottom: 1px solid #e1e7ea;
  margin-bottom: 32px;
  padding-bottom: 16px;
  line-height: 1.5;
}

:root {
  --audio-bar-height: 0px;
}

.plan {
  width: 100%;
}

.auth__error {
  color: #f56c6c;
  margin-bottom: 16px;
}

.auth__success {
  color: #2bd97c;
  margin-bottom: 16px;
}

.spinner__icon--wrapper {
  display: flex;
  animation: spin 1s linear infinite;
}

.spinner__icon--wrapper-svg {
  width: 24px;
  height: 24px;
  color: #fff;
}

:root {
  --skeleton-bg: #dddbdd;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: light;
  }
}

@media (max-width: 768px) {
  .section__title {
    font-size: 24px;
  }

  .wrapper {
    margin-left: 0;
    width: 100%;
  }

  .summary {
    height: calc(100vh - 260px);
  }

  .audio__book--summary-title {
    font-size: 20px;
  }
}
