.sidebar__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3a4649;
  transition: opacity 0.4s ease 0s;
  z-index: 10;
  opacity: 0;
  pointer-events: none;
}

.sidebar__overlay--hidden {
  opacity: 0;
  pointer-events: none;
}