.settings__login--wrapper {
  max-width: 460px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.settings__login--wrapper-img {
  width: 100%;
  height: 100%;
}

.settings__login--text {
  font-size: 24px;
  font-weight: 700;
  color: #032b41;
  text-align: center;
  margin-bottom: 16px;
}

.settings__login--btn {
  width: 100px;
}
