.audio__book--summary-text {
  white-space: pre-line;
  line-height: 1.4;
  color: #032b41;
}

.loading__audio-book--spinner-wrapper {
  width: 100%;
  height: 100%;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading__audio-book--spinner-img {
  height: 100px;
  width: 100px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  .audio__book--summary-text {
    font-size: 14px;
  }
}
