.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 200px;
  width: calc(100% - 200px);
  transition: all 0.3s;
}

.wrapper__full {
  margin-left: 0;
  width: 100%;
}

.sidebar__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3a4649;
  transition: opacity 0.4s ease 0s;
  z-index: 10;
  opacity: 0.35;
  pointer-events: auto;
}

.sidebar__overlay--hidden {
  opacity: 0;
  pointer-events: none;
}

.auth__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  pointer-events: none;
}

.auth,
.auth__wrapper {
  width: 100%;
  z-index: 9999;
}

.auth {
  position: relative;
  max-width: 400px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  pointer-events: auto;
}

.auth__content {
  padding: 48px 32px 24px;
}

.auth__title {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  color: #032b41;
  margin-bottom: 24px;
}

.guest__btn--wrapper {
  position: relative;
  display: flex;
  background-color: #3a579d;
  color: #fff;
  justify-content: center;
}

.guest__btn--wrapper:hover:not(:disabled) {
  background-color: #25396b;
}

.guest__icon--mask {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 4px;
  background-color: transparent;
  position: absolute;
  left: 2px;
}

.guest__icon--mask svg {
  width: 24px;
  height: 24px;
}

.google__icon--mask {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 4px;
  background-color: #fff;
  position: absolute;
  left: 2px;
}

.google__icon--mask img {
  width: 24px;
  height: 24px;
}

.auth__separator {
  display: flex;
  align-items: center;
  margin: 16px 0;
}

.auth__separator--text {
  margin: 0 24px;
  font-size: 14px;
  color: #394547;
  font-weight: 500;
}

.auth__separator:after,
.auth__separator:before {
  content: "";
  display: block;
  flex-grow: 1;
  height: 1px;
  background: #bac8ce;
}

.google__btn--wrapper {
  position: relative;
  display: flex;
  background-color: #4285f4;
  color: #fff;
  justify-content: center;
}

.google__btn--wrapper:hover:not(:disabled) {
  background-color: #2a6eea;
}

.google__icon--mask {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 4px;
  background-color: #fff;
  position: absolute;
  left: 2px;
}

.auth__main__form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.auth__main__input {
  height: 40px;
  border: 2px solid #bac8ce;
  border-radius: 4px;
  color: #394547;
  padding: 0 12px;
  transition: border-color 0.2s;
}

.auth__main__input:focus {
  border-color: #2bd97c;
  outline: none;
}

.input {
  outline: none;
}

.auth__forgot--password {
  text-align: center;
  color: #116be9;
  font-weight: 300;
  font-size: 14px;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 16px;
  cursor: pointer;
}

.auth__switch--btn {
  height: 40px;
  text-align: center;
  background-color: #f1f6f4;
  color: #116be9;
  width: 100%;
  border-radius: 0 0 4px 4px;
  font-weight: 300;
  font-size: 16px;
  transition: opacity 0.2s;
}

.auth__switch--btn:hover:not(:disabled) {
  background-color: rgb(220, 219, 219);
}

.auth__close--btn {
  position: absolute;
  top: 12px;
  right: 12px;
  display: flex;
  cursor: pointer;
  transition: opacity 0.2s;
}

.auth__close--btn:hover:not(:disabled) {
  color: gray;
}

.auth__close--btn svg {
  width: 28px;
  height: 28px;
}

@media (max-width: 768px) {
  .wrapper {
    margin-left: 0;
    width: 100%;
  }
}
