.nav {
  height: 80px;
}

.nav__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1070px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 24px;
}

.nav__list--wrapper {
  display: flex;
  gap: 24px;
}

.nav__img--mask {
  max-width: 200px;
}

.nav__img {
  width: 100%;
  height: 100%;
}

.nav__list {
  cursor: not-allowed;
  color: #032b41;
  transition: color 100ms;
}

.nav__list--login:hover {
  color: #2bd97c;
}

.nav__list--login {
  cursor: pointer;
}

@media (max-width: 576px) {
  .nav__list--mobile {
    display: none;
  }
}
