.plan__features--wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  text-align: center;
  grid-gap: 24px;
  gap: 24px;
  max-width: 800px;
  margin: 0 auto 56px;
}

.plan__features--icon {
  display: flex;
  justify-content: center;
  color: #032b41;
  margin-bottom: 12px;
}

.plan__features--icon-svg {
  width: 60px;
  height: 60px;
}

.plan__features--text {
  color: #394547;
  line-height: 1.5;
}

.plan__card {
  display: flex;
  gap: 24px;
  padding: 24px;
  background-color: #f1f6f4;
  border: 4px solid #bac8ce;
  border-radius: 4px;
  cursor: pointer;
  max-width: 680px;
  margin: 0 auto;
}

.plan__card--active {
  border: 4px solid #2be080;
}

.plan__card--circle {
  position: relative;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.plan__card--dot {
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #000;
  border-radius: 50%;
}

.plan__card--title {
  font-size: 18px;
  font-weight: 600;
  color: #032b41;
  margin-bottom: 8px;
}

.plan__card--price {
  font-size: 24px;
  font-weight: 700;
  color: #032b41;
  margin-bottom: 8px;
}

.plan__card--text {
  color: #6b757b;
  font-size: 14px;
}

.plan__card--separator {
  font-size: 14px;
  color: #6b757b;
  display: flex;
  align-items: center;
  gap: 8px;
  max-width: 240px;
  margin: 24px auto;
}

.plan__card--separator:after,
.plan__card--separator:before {
  content: "";
  flex-grow: 1;
  height: 1px;
  background: #bac8ce;
}

.plan__card--cta {
  background: #fff;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  z-index: 1;
  padding: 32px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.plan__disclaimer {
  font-size: 12px;
  color: #6b757b;
  text-align: center;
}

.accordion__card {
  border-bottom: 1px solid #ddd;
  margin-bottom: 8px;
  overflow: hidden;
}

.accordion__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 24px 0;
  gap: 8px;
}

.accordion__title {
  font-weight: 500;
  font-size: 24px;
  position: relative;
  margin-bottom: 0;
  color: #032b41;
  transition: 0.3s;
}

.accordion__icon--rotate {
  transform: rotate(180deg);
}

.accordion__icon {
  width: 24px;
  min-width: 24px;
  height: 24px;
  transition: transform 0.3s;
}

.collapse.show {
  height: auto;
}

.collapse {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease;
}

.accordion__body {
  min-height: 1px;
  padding-bottom: 24px;
  color: #394547;
  line-height: 1.5;
}
