.finished__books--block-wrapper {
  background-color: #f1f6f4;
  max-width: -moz-fit-content;
  max-width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 32px;
  border-radius: 12px;
  margin: 0 auto 56px;
  text-align: center;
}

.finished__books--title {
  color: #042330;
  font-weight: 600;
  font-size: 18px;
}

.finished__books--sub-title {
  color: #394547;
}
