.for-you__title {
  font-size: 22px;
  font-weight: 700;
  color: #032b41;
  margin-bottom: 16px;
}

.selected__skeleton-wrapper {
  width: calc((100% / 3) * 2);
  margin: 0 0 24px;
  border-radius: 4px;
}

.selected__skeleton {
  width: 100%;
  height: 100%;
  min-height: 240px;
  border-radius: 4px;
}

.selected__book {
  display: flex;
  justify-content: space-between;
  width: calc((100% / 3) * 2);
  background-color: #fbefd6;
  border-radius: 4px;
  padding: 24px;
  margin: 0 0 24px;
  gap: 24px;
}

.selected__book--sub-title {
  color: #032b41;
  width: 40%;
}

.selected__book--line {
  width: 1px;
  background-color: #bac8ce;
}

.selected__book--content {
  display: flex;
  gap: 16px;
  width: 60%;
}

.book__image--wrapper {
  width: 140px;
  height: 140px;
  min-width: 140px;
}

.book__image {
  width: 100%;
  height: 100%;
}

.selected__book--text {
  width: 100%;
}

.selected__book--title {
  font-weight: 600;
  color: #032b41;
  margin-bottom: 8px;
}

.selected__book--author {
  font-size: 14px;
  color: #394547;
  margin-bottom: 16px;
}

.selected__book--duration-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.selected__book--icon {
  display: flex;
  align-items: center;
  width: 40px;
  min-width: 40px;
  height: 40px;
}

.selected__book--icon-img {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  align-items: center;
  padding: 4px 4px 4px 6px;
}

.selected__book--duration {
  font-size: 14px;
  font-weight: 500;
  color: #032b41;
}

@media (max-width: 1200px) {
  .selected__book,
  .selected__skeleton-wrapper {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .selected__book {
    width: 100%;
    flex-direction: column;
    gap: 24px;
  }

  .selected__book--sub-title {
    width: 100%;
    font-size: 14px;
  }

  .selected__book--line {
    display: none;
  }

  .selected__book--content,
  .selected__book--text {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .selected__book {
    padding: 16px;
  }
}
