.setting__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  margin-bottom: 32px;
  border-bottom: 1px solid #e1e7ea;
  padding-bottom: 24px;
}

.setting__content:last-child {
  margin-bottom: 0;
  border-bottom: none;
}

.settings__sub--title {
  font-size: 18px;
  font-weight: 700;
  color: #032b41;
}

.settings__text {
  color: #032b41;
}

.settings__upgrade--btn {
  width: -moz-fit-content;
  width: fit-content;
}
